{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title> Dashboard | RestDemo </title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	
	<script src='{% static "js/jquery-3.1.1.min.js" %}'></script>

</head>
<body>

	<main class="container">
		
		<h1>Dashboard</h1>


		<table class="table table-bordered">
			<tr>
				<th> Questions </th>
				<th> Answers </th>
				<th> Tenants </th>
				<th> Users </th>
			</tr>
			<tr>
				<td> {{ questions }} </td>
				<td> {{ answers }} </td>
				<td> {{ tenants }} </td>
				<td> {{ users }} </td>
			</tr>
			
		</table>


		<button id="questions" class="btn btn-primary"> Questions - Custom Headers (api_key) added </button>

	</main>


<script>
	$(document).ready(function(){
		$.ajaxSetup({
			headers: { "Api-Key": "7ef13fb7-cf30-ae24-a49d-e0ccfa0a788c" }
			// headers: { "Api-Key": "ed77d5b8-5c85-54dc-561a-f22e3ff1d83d" }
		}); 

		$("#questions").on("click", function(){

			var json = $.getJSON( "/questions/", function( data ) {
				
				console.log(data);

			});

			console.log(json);
		
		});

	});
</script>

</body>
</html>